
.ControlBar ul li {
    display: inline-block;
    *display: inline;
    margin-right: 40px;
}

.ControlBar {
    background-color:#ffffff;
    padding: 10px;
    height: 70px;
    border-radius: 25px;
}