.SourceList {
    float:right;
    text-align:left;
    position:relative;
    left:-50%;
    height: 200px;
    margin-top: 50px;
}

.SourceList ul {
    position:relative;
    left:50%;
}

.SourceList ul li {
    display: inline-block;
    *display: inline;
    margin-left: 50px;
    margin-right: 50px;
}